<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lineageos.settings.zukpref"
    android:versionCode="1"
    android:versionName="1.0"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.INJECT_EVENTS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <protected-broadcast android:name="com.lineageos.settings.zukpref.CUST_UPDATE" />

    <uses-sdk
        android:minSdkVersion="27"
        android:targetSdkVersion="27"/>

    <application
        android:label="ZukPref"
        android:persistent="true">

        <activity
            android:name=".ZukPrefSettings"
            android:label="@string/zukpref_title"
            android:summary="@string/zuk_gestures_summary"
            android:theme="@android:style/Theme.DeviceDefault.Settings">
            <intent-filter>
                <action android:name="com.android.settings.action.EXTRA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.device" />
            <meta-data
                android:name="com.android.settings.icon"
                android:resource="@drawable/ic_settings_zukpref" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/zuk_gestures_summary" />
        </activity>
        <activity
            android:name="com.lineageos.settings.zukpref.DisplayCalibration"
            android:exported="true"
            android:label="@string/kcal_title"
            android:theme="@android:style/Theme.DeviceDefault.Settings">			
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>	
        </activity>
        <receiver android:name="com.lineageos.settings.zukpref.Startup" >
            <intent-filter android:priority="100" >
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
