# /data
type fpc_data_file, core_data_file_type, data_file_type, file_type;
type thermal_data_file, core_data_file_type, data_file_type, file_type;

# debugfs
type debugfs_rmt, debugfs_type, fs_type;

# msm_irqbalance
type proc_irq, fs_type, proc_type;

# /sys
type sysfs_fingerprint, sysfs_type, fs_type;
type sysfs_pcie, sysfs_type, fs_type, mlstrustedobject;
type sysfs_wifi, sysfs_type, fs_type, mlstrustedobject;
type sysfs_scsi_devices_0000, sysfs_type, fs_type;
type sysfs_doubletap, sysfs_type, fs_type;

# /vendor
type idc_file, file_type, vendor_file_type;
type keylayout_file, file_type, vendor_file_type;
