type fpc_data_file, data_file_type, file_type;
type fpc_images_file, file_type;
type nv_data_file, file_type, data_file_type;
type sysfs_fpc_irq, sysfs_type, fs_type;
type sysfs_fpc_proximity, sysfs_type, fs_type;
type sysfs_fpc_utouch_disable, fs_type, sysfs_type;
type thermal_data_file, data_file_type, file_type;
