allow hal_power_default sysfs:file rw_file_perms;
allow hal_power_default debugfs_wlan:dir search;
allow hal_power_default debugfs_wlan:file r_file_perms;

allow hal_power_default sysfs_msm_subsys:dir search;
allow hal_power_default sysfs_msm_subsys:file w_file_perms;
allow hal_power_default sysfs_devices_system_cpu:file w_file_perms;
allow hal_power_default device_latency:chr_file w_file_perms;
