allow hal_graphics_composer_default { sysfs_camera sysfs_video }:dir search;
allow hal_graphics_composer_default { sysfs sysfs_camera sysfs_video }:file { getattr open read };
