allow hal_power_default sysfs_kgsl:lnk_file { open read write };
allow hal_power_default sysfs_devfreq:dir search;
allow hal_power_default sysfs_devfreq:file { open write };
allow hal_power_default sysfs_kgsl:file { open write };
allow hal_power_default device_latency:chr_file { open write };
allow hal_power_default sysfs_doubletap:file { open write };
