allow hal_bluetooth_default bluetooth_data_file:dir { search write };
allow hal_bluetooth_default bluetooth_data_file:file { append getattr open read write };
