allow init socket_device:sock_file { create unlink setattr };
allow init proc_dirty_ratio:file write;
allow init vfat:dir mounton;

allow init block_device:lnk_file relabelfrom;

allow init { cache_block_device misc_block_device frp_block_device userdata_block_device rpmb_device dip_device recovery_block_device mba_debug_dev modem_efs_partition_device gpt_block_device  persist_block_device }:lnk_file relabelto;

allow init init:socket { create bind read };
allow init init:capability net_bind_service;

allow init { ssd_device rpmb_device modem_efs_partition_device }:blk_file write;

allow init qti_debugfs:file write;

allow init { tee_device diag_device }:chr_file { write read open ioctl };
allow init ion_device:chr_file { read open ioctl };
