typeattribute  mm-qcamerad data_between_core_and_vendor_violators;

allow mm-qcamerad camera_data_file:dir create_dir_perms;
allow mm-qcamerad camera_data_file:file create_file_perms;

allow mm-qcamerad sysfs_camera:dir search;
allow mm-qcamerad sysfs_camera:file r_file_perms;
allow mm-qcamerad sysfs_video:dir search;
allow mm-qcamerad sysfs_video:file r_file_perms;
