allow mm-qcamerad sysfs_camera:dir search;
allow mm-qcamerad sysfs_camera:file r_file_perms;
allow mm-qcamerad sysfs_video:dir search;
allow mm-qcamerad sysfs_video:file r_file_perms;
