# CND
allow cnd default_android_hwservice:hwservice_manager add;

# Dataservice
allow dataservice_app default_android_hwservice:hwservice_manager find;

# IMS
allow ims default_android_hwservice:hwservice_manager find;

# Init
binder_call(init, system_server);
allow init sysfs:file { open read write };

# Netmgrd
allow netmgrd vendor_xlat_prop:property_service set;

# Perf
binder_call(system_app, perfprofd);

# ReadMac
allow readmac self:capability dac_override;

# SystemServer
allow system_server dalvikcache_data_file:file { execute write };
allow system_server vendor_camera_prop:file { getattr open read };
