allow priv_app adsprpcd_file:filesystem getattr;
allow priv_app { asec_apk_file bt_firmware_file cache_private_backup_file cgroup configfs mnt_media_rw_file radio_data_file }:dir r_dir_perms;
allow priv_app { file_contexts_file firmware_file hwservice_contexts_file keylayout_file mac_perms_file nonplat_service_contexts_file proc_interrupts proc_modules proc_stat seapp_contexts_file sepolicy_file service_contexts_file vendor_file vndservice_contexts_file }:file r_file_perms;
allow priv_app hal_memtrack_hwservice:hwservice_manager find;
allow priv_app device:dir open;

binder_call(priv_app, hal_memtrack_default);

# Clean up logspam
dontaudit priv_app device:dir read;
dontaudit priv_app proc_interrupts:file read;
dontaudit priv_app proc_modules:file read;

allow priv_app sysfs:dir open;
allow priv_app sysfs_pcie:file { open read };
allow priv_app sysfs_wifi:file { open read };
allow priv_app sysfs_android_usb:file open;
allow priv_app system_app_data_file:dir getattr;

allow priv_app bt_firmware_file:filesystem getattr;
allow priv_app firmware_file:filesystem getattr;
allow priv_app proc:file getattr;
