allow rild nv_data_file:dir rw_dir_perms;
allow rild nv_data_file:file { create_file_perms getattr ioctl lock open read };

allow rild { vendor_configs_file vendor_file }:file ioctl;

allow rild qcom_ims_prop:property_service set;


allow rild radio_data_file:file { create getattr ioctl lock open read unlink write };
allow rild radio_data_file:dir { add_name getattr open read remove_name search write };

allow rild toolbox_exec:file { getattr execute execute_no_trans open read };
allow rild vendor_toolbox_exec:file execute_no_trans;
