allow thermal-engine sysfs_msm_subsys:dir search;

allow thermal-engine sysfs_usb_supply:dir search;
allow thermal-engine sysfs_usb_supply:file r_file_perms;

allow thermal-engine sysfs_soc:dir search;

allow thermal-engine sysfs_msm_core:dir search;
allow thermal-engine sysfs_msm_core:file r_file_perms;

allow thermal-engine sysfs_rmtfs:dir search;
