allow thermal-engine { sysfs_batteryinfo sysfs_usb_supply }:file r_file_perms;
allow thermal-engine sysfs_batteryinfo:file write;
allow thermal-engine { sysfs_batteryinfo sysfs_usb_supply }:dir search;

# Allow thermal-engine to read files in /sys
r_dir_file(thermal-engine, sysfs)
