type wcg_mac, domain;
type wcg_mac_exec, exec_type, vendor_file_type, file_type;

# Allow for transition from init domain to wcg_mac
init_daemon_domain(wcg_mac)

# Allow wcg_mac to set sys.wifimac
set_prop(wcg_mac, wcg_prop)

allow wcg_mac proc:file { open read };
