# Safetynet bypass
# Inspired in magisk source code, by topjohnwu
# Ported to ramdisk by jhenrique09

on boot
    # selinux nodes, hide permissive state
    chmod 0640 /sys/fs/selinux/enforce
    chmod 0440 /sys/fs/selinux/policy

    # Props
    setprop ro.boot.verifiedbootstate green
    setprop ro.boot.flash.locked 1
    setprop ro.boot.veritymode enforcing
    setprop ro.boot.warranty_bit 0
    setprop ro.warranty_bit 0
    setprop ro.debuggable 0
    setprop ro.secure 1
    setprop ro.build.type user
    setprop ro.build.tags release-keys
